.dropinput {
  border: 1px dotted rgb(221, 221, 221);
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
  padding: 1rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.dropbody {
  border: 2px solid darkcyan;
  margin-top: 2rem;
  display: block;
  border-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;

}

.dropcontent {
  text-align: center;
  padding: 3rem;
}