.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  resize: none;
  outline: none;
  box-shadow: none;
}

.button {
  background-color: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}